<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'navbar.html' %}

    <div class="container mt-4">
        <a href="javascript:history.back()" class="btn btn-close mb-3"><a/>
    </div>

    <div class="container mt-3">
        <div class="col">
            <div class="mx-5 mb-3">
                <form class="row align-items-center" method="GET" action="{% url 'all_courses' %}">
                    <input class="col col-form-label" type="text" name="q" placeholder="Rechercher des cours..." {% if recherche.query %} value={{ recherche.query }} {% endif %} >
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="subscribed" id="flexSwitchCheckSubscribed" {% if recherche.subscribed == 'on' %} checked {% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckSubscribed">Cours abonnés</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="unsubscribed" id="flexSwitchCheckUnsubscribed" {% if recherche.unsubscribed == 'on' %} checked {% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckUnsubscribed">Cours non abonnés</label>
                        </div>
                    </div>
                    <div class="col text-end">
                        <button class="col btn btn-primary" type="submit">Rechercher</button>
                    </div>
                </form>
            </div>
            <ul class="list-group">
                {% for cours in courses %}
                    <a href="{% url 'cours_details' cours.id %}" class="text-decoration-none text-dark">
                        <div class="card mb-3">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title">{{ cours.titre }}</h5>
                                </div>
                                <div>
                                    {% if cours.id in subscribed_map %}
                                        <form action="{% url 'unsubscribe_cours' cours.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Se désabonner</button>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'subscribe_cours' cours.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">S'abonner</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>Aucun cours trouvé.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>