<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cours.titre}}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'navbar.html' %}

    <div class="container mt-4">
        <a href="javascript:history.back()" class="btn btn-close mb-3"><a/>
    </div>

    <div class="container">
        <a></a>
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <h2 class="col-8">{{ cours.titre }}</h2>
                    {% if isProf %}
                        <div class="col-4 text-end">
                            <a href={% url 'create_cours' cours.id %} class="btn btn-primary">Modifier</a>
                        </div>
                    {% elif not isSubscribe %}
                        <div class="col-4 text-end">
                            <a href={% url 'subscribe_cours' cours.id %} class="btn btn-success">S'abonner</a>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="card-body">
                {% if not isProf %}
                    <div class="row align-items-center">
                        <p class="col mb-0 card-text" role="alert">Créer par<strong> {{ cours.professeur }}</strong></p>
                        <div class="col-4 text-end card-text">
                            <div class="mb-0 alert
                            {% if cours.niveau.value == 'DEBUTANT' %} alert-success
                            {% elif cours.niveau.value == 'MOYEN' %} alert-warning
                            {% elif cours.niveau.value == 'AVANCE' %} alert-danger
                            {% endif %} d-inline-block">
                                <strong>Niveau:</strong> {{ cours.niveau.value }}
                            </div>
                        </div>
                    </div>
                {% else %}
                <div class="row align-items-center">
                    <div class="col-4 card-text">
                        <div class="mb-0 alert
                        {% if cours.niveau.value == 'DEBUTANT' %} alert-success
                        {% elif cours.niveau.value == 'MOYEN' %} alert-warning
                        {% elif cours.niveau.value == 'AVANCE' %} alert-danger
                        {% endif %} d-inline-block">
                            <strong>Niveau:</strong> {{ cours.niveau.value }}
                        </div>
                    </div>
                    <div class="col text-end card-text">
                        {% if cours.archive %}
                            <div class="mb-0 alert alert-danger d-inline-block">
                                Archivé
                            </div>
                        {% else %}
                            <div class="mb-0 alert alert-success d-inline-block">
                                Disponible
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <hr>
                <p class="card-text">{{ cours.resumer }}</p>
            </div>
        </div>
    </div>
</body>
</html>
