<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un cours</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'navbar.html' %}

    <div class="container mt-4">
        <a href="javascript:history.back()" class="btn btn-close mb-3"><a/>
    </div>

    <div class="container mt-1">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Créer un cours</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                    </div>
                    <div class="form-group">
                        {{ form.resumer.label_tag }}
                        {{ form.resumer }}
                    </div>
                    <div class="form-group">
                        {{ form.niveau.label_tag }}
                        {{ form.niveau }}
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
