<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'navbar.html' %}
    <div class="container mt-5">
        
        <div class="col text-end">
            <a href="{% url 'create_cours' %}" class="btn btn-primary">Créer un cours</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col mx-5">
                        <form class="row align-items-center" method="GET" action="{% url 'dashboard' %}">
                            <input class="col col-form-label" type="text" name="q" placeholder="Rechercher des cours..." value={{ recherche.query }}>
                            <div class="col text-end">
                                <button class="col btn btn-primary" type="submit">Rechercher</button>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="list-group">
                    {% for cours in courses %}
                        <a href="{% url 'cours_details' cours.id %}" class="text-decoration-none text-dark">
                            <div class="card mb-3">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">{{ cours.titre }}</h5>
                                    <div class="row text-end">
                                        <form class="col" action="{% url 'create_cours' cours.id %}" method="get">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-2" viewBox="0 0 16 16">
                                                    <path d="M11.354 0l3.5 3.5L14 4H11V1l-.646-.646a.5.5 0 0 1 0-.708l.708-.708a.5.5 0 0 1 .708 0zM0 12.268V16h3.732l8.036-8.036-3.732-3.732L0 12.268zM13.95 3.316L12.683 4.683l.707.707L14.657 4l-.707-.707zM3 13H1v2h2v-2zm11-9h-2v2h2V4z"/>
                                                </svg>
                                            </button>
                                        </form>
                                        {% if cours.archive == False %}
                                            <form class="col" action="{% url 'archive_cours' cours.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Archiver</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <p>Aucun cours trouvé.</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Notifications</h2>
                {% for notification in notifications %}
                    {% include "notification.html" with notification=notification %}
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        Aucune notification pour le moment.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
