<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 mx-5">
                    <form class="row align-items-center" method="GET" action="{% url 'dashboard' %}">
                        <input class="col col-form-label" type="text" name="q" placeholder="Rechercher des cours..." value={{ recherche.query }}>
                        <div class="col text-end">
                            <button class="col btn btn-primary" type="submit">Rechercher</button>
                        </div>
                    </form>
                </div>              
                <ul class="list-group">
                    {% for cours in courses %}
                        {% if cours.id in subscribed_map %}
                            <a href="{% url 'cours_details' cours.id %}" class="text-decoration-none text-dark">
                                <div class="card mb-3">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="card-title">{{ cours.titre }}</h5>
                                        </div>
                                        <div>
                                            <form action="{% url 'unsubscribe_cours' cours.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Se désabonner</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% empty %}
                        <p>Aucun cours trouvé.</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Notifications</h2>
                {% for notification in notifications %}
                    {% include "notification.html" with notification=notification %}
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        Aucune notification pour le moment.
                    </div>
                {% endfor %}
            </div>
                       
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <a href="{% url 'all_courses' %}" class="btn btn-primary">Tous les cours</a>
            </div>
        </div>
    </div>
</body>
</html>
