<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">Educom</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <!-- Ajoutez d'autres liens de navigation ici si nécessaire -->
            </ul>
            <ul class="navbar-nav">
                <!-- Lien de déconnexion -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>