{% if notification.creation %}
<a href="#" class="alert alert-info d-block mb-2" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill me-2" viewBox="0 0 16 16">
        <path d="M4 8a.5.5 0 0 1 .5-.5h1.5V4a.5.5 0 0 1 1 0v3.5H8a.5.5 0 0 1 0 1H5.5V12a.5.5 0 0 1-1 0V8z"/>
        <path fill-rule="evenodd" d="M2 1.5A1.5 1.5 0 0 1 3.5 0h9A1.5 1.5 0 0 1 14 1.5v9a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 10.5v-9zM4 14a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4z"/>
    </svg>
    <strong>Nouveau cours:</strong> {{ notification.titre }} - Date de création: {{ notification.date }}
</a>
{% else %}
<a href="#" class="alert alert-warning d-block" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-2" viewBox="0 0 16 16">
        <path d="M11.354 0l3.5 3.5L14 4H11V1l-.646-.646a.5.5 0 0 1 0-.708l.708-.708a.5.5 0 0 1 .708 0zM0 12.268V16h3.732l8.036-8.036-3.732-3.732L0 12.268zM13.95 3.316L12.683 4.683l.707.707L14.657 4l-.707-.707zM3 13H1v2h2v-2zm11-9h-2v2h2V4z"/>
    </svg>
    <strong>Modification:</strong> {{ notification.titre }} - Date de modification: {{ notification.date }}
</a>
{% endif %}