<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-center">Registry</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_nom" class="form-label">Nom</label>
                                {{ user_form.nom }}
                            </div>
                            <div class="mb-3">
                                <label for="id_prénom" class="form-label">Prénom</label>
                                {{ user_form.prénom }}
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {{ user_form.email }}
                            </div>
                            <div class="mb-3">
                                <label for="id_password" class="form-label">Password</label>
                                {{ user_form.password }}
                            </div>
                            <div class="mb-3">
                                <label for="id_role" class="form-label">Role</label>
                                {{ user_form.role }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <p>Pour se connecter, c'est <a href="{% url 'login' %}">ici</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
